path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
discovery.type: single-node
{% if inventory_hostname == "elastic-centos" %}
http.port: 9200
transport.port: 9300
discovery.seed_hosts: ["0.0.0.0:9200"]
{% else %}
http.port: 9400
transport.port: 9500
discovery.seed_hosts: ["0.0.0.0:9400"]
{% endif %}