path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
discovery.seed_hosts: ["{{ ansible_facts['default_ipv4']['address'] | default('0.0.0.0') }}"]
node.name: node-a
bootstrap.memory_lock: true
cluster.name: es-docker-cluster